<!-- the header section -->
<%- include('includes/header.ejs') %>
<!-- the header ends here -->
<body>
   <!-- the nav section -->
   <%- include('includes/nav.ejs') %>
   <!-- the nav ends here -->
    <h1>404 Page</h1>
    <p>result not found</p>
    <!-- the footer goes here -->
    <%- include('includes/footer.ejs') %>
    <!-- the footer ends here -->
